---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import { Image } from "astro:assets";
import fondoConchas from "../assets/fill.png";
import equipo from "../assets/Equipo.png";
import { getCollection } from "astro:content";

const team = await getCollection("team");
---

<Layout title="Nacar Asociación - Conocenos">
    <Nav />
    <div>
        {/* Sección con fondo */}
        <div
            class="flex flex-col lg:flex-row items-center justify-center px-6 py-12 min-h-[40vh] bg-cover bg-center bg-no-repeat"
            style={{
                backgroundImage: `url(${fondoConchas.src})`,
            }}
        >
            <div class="max-w-3xl text-center p-4">
                <h1 class="font-wreath text-5xl lg:text-6xl font-bold text-gray-800 mb-4 mt-8">
                    Conócenos
                </h1>
                <p class="text-lg text-gray-700 leading-relaxed">
                    Cada actividad llevada a cabo por <span class="font-wreath text-2xl">Nácar Asociación</span> ha sido diseñada pensando en las necesidades de las familias y comunidades. En todos los municipios donde trabajamos, hemos recibido una acogida cálida y el feedback positivo de padres, madres y menores que han disfrutado y aprendido en nuestras actividades.
                    Estos espacios no solo promueven la conciliación, sino que también contribuyen a fortalecer los lazos comunitarios, fomentar la igualdad y crear momentos inolvidables para todos los participantes.
                    ¡Gracias por ser parte de esta aventura!
                </p>
            </div>
        </div>
        {/* Sección de equipo */}
        <div
            class="flex flex-wrap items-center justify-center bg-white text-gray-800 py-12 px-6 lg:px-16"
        >
            <div class="w-full lg:w-1/2 flex justify-center mb-8 lg:mb-0">
                <Image src={equipo} alt="Equipo Nacar" class="h-80 w-auto" />
            </div>
            <div
                class="w-full lg:w-1/2 flex flex-col justify-center text-center lg:text-left px-6"
            >
                <h2 class="text-3xl font-bold text-gray-800 mb-4">
                    Tus campamentos y eventos personalizados
                </h2>
                <p class="text-lg text-gray-700">
                    En <span class="font-wreath text-2xl">Nácar Asociación</span> creemos en la igualdad de oportunidades, la inclusión social y el empoderamiento de las familias. Trabajamos desde la cercanía y el compromiso para construir una sociedad más justa e igualitaria, contribuyendo al bienestar de nuestros beneficiarios.
                    
                </p>
            </div>
        </div>

        {/* Sección de integrantes */}
        <div
            class="flex flex-col items-center justify-center bg-primary text-black py-12 px-6 lg:px-16"
        >
            <div
                class="container max-w-screen-xl grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8"
            >
                {
                    team.toReversed().map((member) => {
                        const { data } = member;
                        const { name, position, image, linkedin } = data;
                        return (
                            <div class="flex flex-col items-center text-gray-800 p-6 rounded-lg shadow-lg bg-white">
                                <div class="border-4 border-primary overflow-hidden rounded-full mb-4">
                                    <Image
                                        src={image}
                                        height={160}
                                        width={160}
                                        alt={name}
                                        class="object-cover w-40 h-40"
                                    />
                                </div>
                                <h2 class="font-wreath text-2xl font-bold">{name}</h2>
                                <p class="text-center text-gray-700">
                                    {position}
                                </p>
                                <a
                                    href={linkedin}
                                    target="_blank"
                                    rel="noopener noreferrer"
                                >
                                    <i class="fab fa-linkedin text-2xl mt-2 text-arena hover:text-hoverRosa" />
                                </a>
                            </div>
                        );
                    })
                }
            </div>
        </div>

        {/* Sección de contacto */}
        <div
            class="flex flex-col items-center justify-center bg-primary text-white py-12 px-6 lg:px-16 mb-6"
        >
            <h2 class="text-3xl font-bold mb-4 text-center">
                ¿Quieres trabajar con nosotros?
            </h2>
            <p class="text-lg mb-6 text-center">
                Envíanos tu currículum y nos pondremos en contacto contigo.{" "}
                <span class="font-semibold">¡Llámanos!</span>
            </p>
            <a
                href="tel:+34691247681"
                class="px-6 py-3 bg-arena text-white font-semibold rounded-lg hover:bg-rosa"
            >
                Envía tu CV
            </a>
        </div>
    </div>
    <Footer />
</Layout>
