---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import { Image } from "astro:assets";
import contorno from "../assets/contorno.png";
import mural from "../assets/mural.png";
import { getCollection } from "astro:content";

const events = await getCollection("events");
---

<Layout title="Nacar Asociación - Eventos">
    <Nav />
    <div>
        {/* Sección del encabezado */}
        <div
            class="flex flex-col lg:flex-row items-center justify-center px-6 py-12 min-h-[40vh] bg-cover bg-center bg-no-repeat"
            style={{
                backgroundImage: `url(${contorno.src})`,
            }}
        >
            <div class="max-w-3xl text-center p-4">
                <h1
                    class="text-5xl lg:text-6xl font-bold text-gray-800 mb-4"
                >
                    Estos son los eventos que preparamos en NACAR
                </h1>
                <p class="text-lg text-gray-700">
                    Nacar somos una asociación que trabaja para el bienestar
                    social y el desarrollo de las personas. Llevamos desde el
                    año 2021 organizando campamentos para los más pequeños.
                    Organizando actividades que promuevan una interacción con la
                    música, el deporte, la naturaleza y todo mientras nos
                    divertimos.
                </p>
            </div>
        </div>

        {/* Sección descriptiva */}
        <div class="bg-primary text-white py-6 px-4 lg:px-16">
            <div
                class="max-w-screen-xl mx-auto flex flex-col lg:flex-row justify-between items-center"
            >
                {/* Texto */}
                <div class="w-full lg:w-1/2 text-left mt-4 px-4">
                    <h3 class="text-3xl font-bold mb-4">
                        Cómo es un día de campa
                    </h3>
                    <ul class="list-disc ml-6 mb-6">
                        <li class="mb-2">
                            1 monitor por cada 10 niños: Garantizamos
                            supervisión y atención personalizada.
                        </li>
                        <li class="mb-2">
                            Actividades diseñadas a medida: Adaptamos cada
                            actividad a las necesidades de los participantes.
                        </li>
                        <li class="mb-2">
                            Horarios flexibles: Pensados para facilitar la
                            conciliación de las familias.
                        </li>
                        <li class="mb-2">
                            Espacios y recursos: Llevamos a cabo actividades en
                            instalaciones municipales, centros educativos o
                            espacios cedidos por el AMPA o Ayuntamiento,
                            adaptando materiales al entorno.
                        </li>
                        <li class="mb-2">
                            Equipo profesional y cualificado: Contamos con
                            monitores especializados en educación, deporte y
                            ocio infantil.
                        </li>
                    </ul>
                    <h4 class="text-2xl font-bold mb-4">
                        Beneficios para AMPAs y Ayuntamientos
                    </h4>
                    <ul class="list-disc ml-6">
                        <li class="mb-2">
                            Facilitación de la conciliación: Un recurso práctico
                            para las familias durante periodos vacacionales.
                        </li>
                        <li class="mb-2">
                            Proximidad: Actividades organizadas en el propio
                            municipio o entorno escolar.
                        </li>
                        <li class="mb-2">
                            Fomento de valores: Promovemos respeto, igualdad y
                            convivencia en cada actividad.
                        </li>
                        <li class="mb-2">
                            Gestión integral: Nos encargamos de toda la
                            organización, desde la planificación hasta la
                            ejecución.
                        </li>
                    </ul>
                </div>

                {/* Imagen */}
                <div class="w-full lg:w-1/2 mt-6 lg:mt-0 px-4">
                    <Image
                        src={mural}
                        alt="Logo"
                        class="h-auto max-w-full rounded-lg"
                    />
                </div>
            </div>
        </div>

        {/* Tarjetas de actividades */}
        <div class="bg-white text-black py-12 px-4 lg:px-16">
            <!-- <ModalGallery
                isOpen={!!selectedGallery}
                onClose={() => setSelectedGallery(null)}
                images={selectedGallery || []}
            /> -->

            {/* Contenedor de las tarjetas */}
            <div
                class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 max-w-screen-xl mx-auto"
            >
                {
                    events.sort((a, b) => a.data.id - b.data.id).map((evento, index) => {
                        const isEven = index % 2 === 0;
                        const cardClass = isEven
                            ? "flex flex-col items-center p-8 rounded-lg shadow-lg bg-arena text-white"
                            : "flex flex-col items-center p-8 rounded-lg shadow-lg bg-white text-arena";

                        const iconColorClass = isEven
                            ? "text-white"
                            : "text-arena";
                        const { data } = evento;
                        const { id, img, title, description, gallery } = data;
                        return (
                            <div class={cardClass}>
                                <div
                                    class="border-4 border-primary overflow-hidden cursor-pointer"
                                >
                                    <Image
                                        src={img}
                                        height={256}
                                        alt={title}
                                        class="object-cover w-full h-64"
                                    />
                                </div>
                                <h2 class="text-lg font-bold mt-4">
                                    {title}
                                </h2>
                                <p class="text-center">
                                    {description}
                                </p>
                                <button
                                    class={`text-2xl mt-4 ${iconColorClass} hover:text-hoverRosa`}
                                >
                                    <i class="fas fa-images" />
                                </button>
                            </div>
                        );
                    })
                }
            </div>
        </div>
    </div>
    <Footer />
</Layout>
